{% extends "header.html"%}
{% block content%} 
<div class="mt-3 text-center">
    <h1 style="font-weight: bold;">About Us</h1>
    <br>
    <paragraph style="color: black;">Hello everyone, we are Daryus, Epuma, and Logan, and this is our
    
    final project for CMSC388J, applications in Web Development in Flask. In this project, we wanted to
    make a website very similar to one we used throughout our time here at UMD, planetterp. Planetterp
    is a website where students and teachers can apply honest feedback for the general public to see 
    about the classes and professors they have taken. This site has proved incredibly beneficial during
    our time here and wanted to take a stab at it on our own.

    <br>
    <br>
    Overall the site is divided into 3 main utilites, the account, the search function, and the 
    review page. Firstly, our site revolves around accounts and are necessary for students 
    to give their true feedback. Students must create an account in order to give a written 
    review of the class/professor they took. However, we wanted our site to be accesbile, and have
    allowed the option for students to submit their GPA without creating an account with us. 

    <br>
    <br>
    Next, we have the search function. We have broken up our reviews into two parts, one focusing on 
    Classes while the others focus on professors. Students can choose which type of review they would like
    to see and we will query the database for all recent reviews for that class/professor. 

    <br>
    <br>
    Finally, we have the review page. The review page will show all students reviews for a class/professor 
    sorted in most recent order. These reviews will share a star rating out of 5, as well as the date/time
    the review was written, as well as the username of the student who wrote it. It will then show
    the reviews and anyone is free to read the honest, constructive feedback. Additionally, we will be 
    using the requests library to provide students extra information. We will be using the API 
    umd.io in order to provide students info about what classes professors have taught previously, 
    as well as info about which professor taught which class in previous semesters. 
    Lastly, students will be able to see distribution of grade point averages through plotly, a 
    graphical tool for python and jinja. 


    </paragraph>
</div>

</div>
{% endblock %}