{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Profile picture #}
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        <h2>Hello {{current_user.username}}</h2>
    </div>
</div>
        {% if error_msg %}
            <div class="alert alert-warning" role="alert">
                <span>{{ error_msg }}</span>
            </div>
        {% endif %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
<div class="row">
    <div class="col">
        <h2>Update Username</h2>
        <form method="POST" action="/account">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="formUsername">{{form.username.label}}</label>
                {{ form.username(type="text", class="form-control", id="formUsername" )}}
            </div>
            {{form.submit(type="submit", class="btn btn-primary")}}
        </form> 
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Update Profile Pic</h2>
        <form action="/account" method="POST" enctype="multipart/form-data">
            {{ picture_form.csrf_token }}
            <div class="form-group">
                <label for="formProfPic">{{picture_form.profile_pic.label}}</label>
                {{ picture_form.profile_pic(type="file", class="form-control", id="formProfPic") }}
            </div>
            {{picture_form.submit(type="submit", class="btn btn-primary")}}
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        View all of your reviews <a href="{{ url_for('user_detail', username=current_user.username) }}">here!</a>
    </div>
</div>
{% endblock %}