{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {% if error_msg %}
            <div class="alert alert-warning" role="alert">
                <span>{{ error_msg }}</span>
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        {{username}}'s reviews
    </div>
</div>
<div class="row">
    <div class="col">
        {% for review in reviews %}
            <li class="media review-item">
                <img class="mr-3 comment-pic" src="data:image/png;base64,{{ review.commenter.profile_pic }}" alt="">
                <div class="media-body">
                <span class="float-right">
                    <small>{{ review.date }}</small>
                </span>
                <a href="{{ url_for('movie_detail', movie_id = review.imdb_id) }}">
                    <strong>{{ review.movie_title }}</strong>
                </a>
                <p>
                    {{ review.content }}
                </p>
                </div>
            </li>
      {% endfor %}
    </div>
</div>
{% endblock %}