{% extends "header.html"%}
{% block content%} 
<div class="mt-3 text-center">
    <h1 style="font-weight: bold;">Welcome to Class Reviewer</h1>
    <h1 > Final Project CMSC388J</h1>
    <paragraph style="color: gray;">Review Count: {{reviews|length}}</paragraph>
</div>
<div style="float: left;">
    {% for review in reviews %}
    <h2> Course: {{ review.classes }} </h2>
      <li class="media review-item">
        <div class="media-body">
          <span class="float-left">
            <small>{{ review.date }}</small>
            <small>{{review.gpa}}</small>
          </span>
          <p class="image-float-left" style="float: left;  white-space: pre;">
            {{ review.content }}
          </p>
        
        </div>
      </li>
      {%endfor%}
  </div>
{% endblock %}